<div class="sidebar">
  <h3 class="sidebar-title py-4 px-3"  routerLink="/">XML Validator</h3>
  
  <div class="nav-card py-2" routerLink="/home" routerLinkActive="active">
      &#x2617; Home
  </div>
  <div class="nav-card py-2" routerLink="/logs" routerLinkActive="active">
      &#x2632; Logs
  </div>
  <!-- <div class="nav-card py-2">
      &#x260f; Contact Us
  </div> -->
  <div class="nav-card py-2" routerLink="/settings" routerLinkActive="active">
      &#x26ED; Settings
  </div>

  <div class="sidebar-footer">
    version: 1.0
  </div>
</div>

<!-- &#x2617; -->

